
h6, .card {
    font-size: 12px;
    
}

.card-body {
    padding: 0.25rem;
  }
  
  .card-header  {
    background-color: #858796;
  }

.card-text {
  padding-left: 1.25rem;
  padding-top: 1.25rem;
}

td {
  padding-bottom: 0.25rem;
}


