#logo {
    margin-top: 100px;
    text-align: right;
}
p {
    margin-left: 30px;
}

.progress {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

footer {
    margin-top: 70px;
}

.copyright {
    padding-top: 15px;
    padding-bottom: 15px;
}